html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",
    Arial,sans-serif,"Apple Color Emoji"
    ,"Segoe UI Emoji","Segoe UI Symbol" !important;
  background-color: #F0E6D7;
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

.b-nw {
  background-color: #F0E6D7;
}

.c-nw {
  color: #F0E6D7;
}

.b-nn{
  background-color: #373a3c!important;
}

.c-nn {
  color: #373a3c;
}
header {
  overflow: hidden;
  background: #373a3c;
}

header a, header label {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  line-height: 20px;
}

header a:hover, header label:hover { color: #aaa; }

header label {
  float: right;
  padding: 18px 20px;
  cursor: pointer;
}

header label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
}
  
nav {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s; 
     -moz-transition: max-height 0.3s;
       -o-transition: max-height 0.3s;
          transition: max-height 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
   padding-bottom: 10px;
}
  
nav li {
  display: block;
  text-align: center;
}
  
nav a {
  padding: 10px;
  width: 100%;
}

#nav { display: none; }

#nav:checked ~ nav {
  max-height: 200px;
}

@media only screen and (min-width: 700px) {
  
  header label { display: none; }
  
  nav {
    width: auto;
    max-height: none;
  }
  
  nav ul {
    padding: 0;
    padding-right: 10px;
  }
  
  nav li {
    display: inline-block;
    text-align: left;
  }
  
  header nav a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }
  
}

.presentacion_principal {
  color: #f8f9fa;
 }
 
.barra {
   height: 30px;
   background-color: #ffff;
   border-radius: 50px;
 }

 .barraTotal {
  height: 30px;
  background-color: #373a3c ;
  border-radius: 50px;
}

img {
  width: 100%;
}

#sqExperience {
  height: 60px;
  width: 30px;
  background-color: #f8f9fa;
  float: right;

  margin-left: 0px !important;
}

#rqExperience {
  position: relative;
  display: table;
  border-radius: 5px;
  margin-right: -5px !important;
  margin-left: 0px !important;
  width: 100px;
  height: 40px;
  color: black;
  margin: auto;
  cursor: pointer;
  background-color: #f8f9fa;
}

#linkExperience {
  display: table-cell;
  vertical-align: middle;
  margin-left: 0px !important;
}

#sqSkills {background-image: linear-gradient(to right, #f8f9fa 0%, #373a3c  100%)}
#sqSkills {
  cursor: pointer;
  height: 60px;
  width: 90px;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  z-index: 99;            
  border-radius: 10px;
  display: block;
  position: relative;
  float: left;
  border-radius: 5px;
  align-items: center;
 }

 #sqSkills:hover {
   background-position:  right center ; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

@media only screen and (max-width: 300px) {
  #sqSkills {  
    width: 20px;
  }
}
#rqSkills {
  position: relative;
  display: table;
  border-radius: 5px;
  margin-right: 0 !important;
  margin-left: -5px !important;
  width: 100px;
  height: 40px;
  color: white;
  cursor: pointer;
  margin: auto;
  background-color: #373a3c;
}

#linkSkills {
  display: table-cell;
  vertical-align: middle;

  margin-left: 0px !important;
}

#containerSkills {
  opacity: 0;
  transition: 1s;
}

#containerExperience {
  opacity: 0;
  transition: 1s;
}

.card {
  background-color: #F0E6D7 !important;
}

li span {
  display: inline-table;
  vertical-align: middle;
}

.overflow {
  height: 35%;
  overflow: hidden;
}

.overflow .card-img-top {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
}

.overflow .card-img-top:hover {
  transform: scale(1.8);
}

footer {
  height: 45px;
  color: white;
}

footer a {
  color:white;
  font-size: 30px;
}

.rocket {
  bottom: 15px;
  font-size: 30px;
  left: 40px;
  position:absolute;
  color: #373a3c;
}

.rocket:hover {
  color: #696e70;
}

.code {
  bottom: 15px;
  font-size: 30px;
  right: 40px;
  position:absolute;
  color: #373a3c;
}

.code:hover {
  color: #696e70;
}
